@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

section#sec1 {
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/flor3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section#sec1 > p {
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    background-color: #013F4F;
    color: #fff;
    padding: 15px 20px;
}

section#sec2 div.container {
    background-color: #fff;
    color: #013F4F;
    display: block;
    margin: auto;
    width: 70%;
    text-align: center;
    line-height: 1.7em;
    padding: 40px 0px;
}

section#sec2 div.container > h1 {
    margin-bottom: 20px;
}

section#sec2 div.container2 {
    height: 80vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/flor1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section#sec2 > div.container2 > p {
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    color: #fff;
    padding: 15px 20px;
}

section#sec3 div.container {
    background-color: #435464;
    color: #fff;
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    line-height: 1.7em;
    padding: 40px 0px;
}

section#sec3 div.container > p {
    display: block;
    margin: auto;
    width: 70%;
}

section#sec3 div.container > h1 {
    margin-bottom: 20px;
}

section#sec3 div.container2 {
    height: 85vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/flor2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section#sec3 > div.container2 > p {
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    color: #fff;
    padding: 15px 20px;
}

section#sec4 div.container {
    background-color: #435464;
    color: #fff;
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    line-height: 1.7em;
    padding: 40px 0px;
}

section#sec4 div.container > h1 {
    margin-bottom: 20px;
}

section#sec4 div.container > p {
    display: block;
    margin: auto;
    width: 70%;
}

section#sec4 div.container2 {
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/flor3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section#sec4 > div.container2 > p {
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    background-color: #013F4F;
    color: #fff;
    padding: 15px 20px;
}


